@import "variables";

$link: $link-color;
$link-hover: $link-hover-color;
$link-focus: $link-hover-color;
$link-active: $link-hover-color;

$pagination-hover-color: #363636;

@import '~bulma';
@import "~buefy/src/scss/buefy";
